<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/Deployment.css">
    <title>Deployment</title>
</head>
<body>
    <div class="container cf">
        <div class="topbutton">
            <img class="logo" src="../static/Logo Detamp Putih.png" alt="Logo DETAMP">
            <p class="judulsatu">DETAMP</p>
            <p class="juduldua">Defection Template Matching PCB</p>
            <div class="topbuttonmenu">
                <ul class="menu">
                    <li class="list11"> <div></div></li>
                    <li class="list1"><a href="/Deployment">Home</a></li>
                    <li class="list2"><a href="/">Detection</a></li>
                    <li class="list3"><a href="#">Developer</a></li>
                    <li class="list4"><a href="#">About</a></li>
                </ul>
              
            </div>
        </div>
        <div class="gambar">
            <div class="content-slide">
                <div class="imgslide fade">
                    <div class="numberslide">1 / 5</div>
                    <img style="filter: brightness(0.5);" src="../static/pexels-pixabay-159220.jpg" alt="">
                    <div class="text">DETAMP
                        <div class="textone">
                            <p>DETAMP adalah model machine learning AI Computer Vision yang dapat mendeteksi kerusakan pada jalur PCB setelah produksi sebelum dilakukan penyolderan dan pemasangan komponen. Solusi ini dirancang untuk menggantikan proses manual dalam Quality Control (QC) yang saat ini dilakukan secara manual dan masih rentan terhadap kesalahan manusia yang dapat mempengaruhi tingkat keakuratan.</p>
                        </div>
                    </div>
                </div>

                <div class="imgslide fade">
                    <div class="numberslide">2 / 5</div>
                    <img style="filter: brightness(0.5);" src="pexels-lumn-167699.jpg" alt="">
                    
                </div>

                <div class="imgslide fade">
                    <div class="numberslide">3 / 5</div>
                    <img style="filter: brightness(0.5);" src="pexels-jaime-reimer-2662116.jpg" alt="">
                    
                </div>

                <div class="imgslide fade">
                    <div class="numberslide">4 / 5</div>
                    <img style="filter: brightness(0.5);" src="pexels-stein-egil-liland-3408744.jpg" alt="">
                    
                </div>

                <div class="imgslide fade">
                    <div class="numberslide">5 / 5</div>
                    <img style="filter: brightness(0.5);" src="pexels-pixabay-235621.jpg" alt="">
                    
                </div>

                <a class="prev" onClick="nextslide(-1)">&#10094;</a>
                <a class="next" onClick="nextslide(1)">&#10095;</a> 
            </div>
        </div>
        <div class="page">
            <span class="dot" onClick="dotslide(1)"></span>
            <span class="dot" onClick="dotslide(2)"></span>
            <span class="dot" onClick="dotslide(3)"></span>
            <span class="dot" onClick="dotslide(4)"></span>
            <span class="dot" onClick="dotslide(5)"></span>
        </div>
        
        <div class="kiri cf">
            <h2 class="judulkiri">Solusi</h2>
            <br>
            <p>Solusi yang kami ajukan berjudul DETAMP atau Defection Template Matching PCB. 
                DETAMP merupakan model machine learning AI Computer Vision yang dapat mendeteksi 
                kerusakan pada jalur PCB setelah produksi sebelum di lakukan penyolderan dan pemasangan 
                komponen
                Solusi ini dibuat untuk menggantikan proses manual dalan Quality Control (QC) yang 
                selama ini dilakukan secara manual yang tingkat ke akurratan masih terpengaruh human errors.</p>
            <br>
           
            <h2 class="judulkiri">Financial Benefit</h2>
            <br>
            <p>Solusi yang kami kembangkan memiliki keuntungan finansial berupa downtime cost avoidance.
                Selama Revolusi Industri Keempat (Industri 4.0), manafaktur PCB menghadapi tantangan dan 
                peluang baru. Premis inti Industri 4.0 adalah pemrosesan industri otomatis dengan kulitas, presisi, 
                dan keandalan tinggi. Oleh karena itu, proses produsi pepen PCB kecil yang kompleks harus lebih 
                stabil dan andal dengan kecepatan yang lebih tinggi, yang berarti pengembangan PCB harus 
                secepatnya. Oleh karena itu, deteksi cacat pada PCB sangatlah penting. Jika cacat PCB yang 
                berulang tidak dapat dideteksi dengan cepat dan tepat, maka banyak papan yang diproduksi 
                kemungkinan besar akan dibuang pada akhirnya, sehingga boros dan mahal. Saat ini, melakukan 
                inspeksi cacat dan kontrol kualitas secara real-time dan presisi tinggi pada PCB untuk 
                meningkatkan hasil dan keuntungan sangat penting bagi produsen.</p>
            <br>
            <h2 class="judulkiri">Intangible Benefit</h2>
            <br>
            <p2> Solusi yang kami kembangkan memiliki beberapa intangible benefit sebagai berikut: </p>
            <p1>● Peningkatan Efisiensi, dengan mengotomatisasi proses identifikasi PCB defect, 
                perusahaan dapat menigkatkan efisisensi operasional secara signifikan.</p>
                ● Kualitas Produk yang lebih baik, Identifikasi yang lebih cepat dan akurat dari PCB defect 
                dapat membantu dalam meminimalkan cacat dan masalah produksi yang lebih awal. Ini 
                dapat menghasilkan produk akhir yang memiliki tingkat kulitas yang lebih tinggi.</p>
                ● Penurunan Biaya Rework, dengan ini medeteksi cacat lebih awal dalam proses produksi 
                PCB, biaya rework dapat dikurangi. Hal in karena masalah dapat diidentifikasi dan 
                diperbaiki segera setelah muncul, dari pada menunggu sampai tahap akhir produksi.</p>
                ● Peningkatan Reputasi Perusahaan, mengotomatisasi proses identifikasi PCB defect dapat 
                membantu perusahaan membangun reputasi sebagai produsen yang canggih dan efisien, 
                yang dapat menarik pelanggan baru dan mempertahankan pelanggan yang sudah ada</p> 
            <br>
        </div>
        <div class="kanan cf">
                <h2 class="judulkanan cf">Kegiatan</h2>
        </div>

    </div>
    <div class="bottompol">
        <h2 class="judulbawah">THE SIX TRINITY </h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 class="judulbawah">ORBIT FUTURE ACADEMY</h2>
        <div class="logodua">
            <div class="logogambar satu"></div>
            <div class="logogambar dua"></div>
            <div class="logogambar tiga"></div>
            <div class="logogambar empat"></div>
            <div class="contact">
                <p class="satuu">Hubungi Kami :</p>
                <p class="duaa">Kirimkan kami pesan</p>
            </div>
        </div>
    </div>



<script>
    var slideIndex = 1;
        showSlide(slideIndex);

    function nextslide(n){
        showSlide(slideIndex += n);
    }

    function dotslide(n){
        showSlide(slideIndex = n);
    }

    function showSlide(n) {
        var i;
        var slides = document.getElementsByClassName("imgslide");
        var dot = document.getElementsByClassName("dot");
        
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            
            slides[i].style.display = "none";
        }

        for (i = 0; i < slides.length; i++) {
            
            dot[i].className = dot[i].className.replace(" active", "");
        }

        slides[slideIndex - 1].style.display = "block";

        dot[slideIndex - 1].className += " active";
        


    }
</script>

</body>
</html>