<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Deploymentt.css">
    <title>Home</title>
</head>
<body>
    <div class="container cf">
        <div class="topbutton">
            <img class="logo" src="../Deploymentt/Logo Detamp Putih.png" alt="Logo DETAMP">
            <p class="judulsatu">DETAMP</p>
            <p class="juduldua">Defection Template Matching PCB</p>
            <div class="topbuttonmenu">
                <ul class="menu">
                    <li class="list11"> <div></div></li>
                    <li class="list1"><a href="#">Home</a></li>
                    <li class="list2"><a href="#">Detection</a></li>
                    <li class="list3"><a href="#">Developer</a></li>
                    <li class="list4"><a href="#">About</a></li>
                </ul>
                <div class="ikonc">
                    <img src="../Deploymentt/ikon.png" alt="ikon">
                </div>
            </div>
        </div>
        <div class="gambar">
            <div class="content-slide">
                <div class="imgslide fade">
                    <div class="numberslide">1 / 5</div>
                    <img style="filter: brightness(0.5);" src="../Deploymentt/pexels-pixabay-159220.jpg" alt="">
                    <div class="text">DETAMP
                        <div class="textone">
                            <p>DETAMP adalah model machine learning AI Computer Vision yang dapat mendeteksi kerusakan pada jalur PCB setelah produksi sebelum dilakukan penyolderan dan pemasangan komponen. Solusi ini dirancang untuk menggantikan proses manual dalam Quality Control (QC) yang saat ini dilakukan secara manual dan masih rentan terhadap kesalahan manusia yang dapat mempengaruhi tingkat keakuratan.</p>
                        </div>
                    </div>
                </div>

                <div class="imgslide fade">
                    <div class="numberslide">2 / 5</div>
                    <img style="filter: brightness(0.5);" src="pexels-lumn-167699.jpg" alt="">
                    
                </div>

                <div class="imgslide fade">
                    <div class="numberslide">3 / 5</div>
                    <img style="filter: brightness(0.5);" src="pexels-jaime-reimer-2662116.jpg" alt="">
                    
                </div>

                <div class="imgslide fade">
                    <div class="numberslide">4 / 5</div>
                    <img style="filter: brightness(0.5);" src="pexels-stein-egil-liland-3408744.jpg" alt="">
                    
                </div>

                <div class="imgslide fade">
                    <div class="numberslide">5 / 5</div>
                    <img style="filter: brightness(0.5);" src="pexels-pixabay-235621.jpg" alt="">
                    
                </div>

                <a class="prev" onClick="nextslide(-1)">&#10094;</a>
                <a class="next" onClick="nextslide(1)">&#10095;</a> 
            </div>
        </div>
        <div class="page">
            <span class="dot" onClick="dotslide(1)"></span>
            <span class="dot" onClick="dotslide(2)"></span>
            <span class="dot" onClick="dotslide(3)"></span>
            <span class="dot" onClick="dotslide(4)"></span>
            <span class="dot" onClick="dotslide(5)"></span>
        </div>
        
        <div class="kiri cf">
            <h2 class="judulkiri">Tentang Kami</h2>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aut dignissimos modi laudantium eveniet dolor voluptas rem sequi quidem nobis cum sapiente eos, libero cupiditate aspernatur distinctio? Quas necessitatibus vitae pariatur id odit dignissimos sapiente vel omnis est quasi corrupti, rerum, accusantium nemo similique maxime inventore blanditiis eius assumenda? Asperiores?</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quo rem a amet debitis dolorum totam quisquam quam officia praesentium nobis deserunt laborum repudiandae mollitia soluta unde dolorem, ab delectus.</p>
            <br>
            <h2 class="judulkiri">VISI</h2>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla maxime quis quidem neque. Totam possimus, nisi accusamus deserunt minima amet esse atque eum iure ut. Vero, veritatis aut assumenda debitis rerum natus, a excepturi quibusdam delectus aperiam optio modi. Corrupti commodi recusandae obcaecati nostrum vel illum alias nisi cumque perferendis delectus accusamus iste sint, quidem vitae fuga non ex vero.</p>
            <br>
            <h2 class="judulkiri">MISI</h2>
            <br>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel ipsam minus quaerat, numquam, commodi asperiores facere, harum necessitatibus aliquid molestias nisi sit possimus sapiente! Vero cupiditate, iusto hic reiciendis quo cumque, amet quaerat rerum, eos sunt animi vel esse quas veniam sit nisi? Earum itaque libero maiores vitae sit eligendi similique, officia porro? Esse accusantium atque tempore? Quisquam, quaerat deleniti.</p>
            <br>
        </div>
        <div class="kanan cf">
                <h2 class="judulkanan cf">Kegiatan</h2>
        </div>

    </div>
    <div class="bottompol">
        <h2 class="judulbawah">THE SIX TRINITY</h2>
        <h2 class="judulbawah">DESIGN BY CODOT STUDIO &#169;</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2 class="judulbawah">ORBIT FUTURE ACADEMY</h2>
        <div class="logodua">
            <div class="logogambar satu"></div>
            <div class="logogambar dua"></div>
            <div class="logogambar tiga"></div>
            <div class="logogambar empat"></div>
            <div class="contact">
                <p class="satuu">Hubungi Kami :</p>
                <p class="duaa">Kirimkan kami pesan</p>
            </div>
        </div>
    </div>



<script>
    var slideIndex = 1;
        showSlide(slideIndex);

    function nextslide(n){
        showSlide(slideIndex += n);
    }

    function dotslide(n){
        showSlide(slideIndex = n);
    }

    function showSlide(n) {
        var i;
        var slides = document.getElementsByClassName("imgslide");
        var dot = document.getElementsByClassName("dot");
        
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
            
            slides[i].style.display = "none";
        }

        for (i = 0; i < slides.length; i++) {
            
            dot[i].className = dot[i].className.replace(" active", "");
        }

        slides[slideIndex - 1].style.display = "block";

        dot[slideIndex - 1].className += " active";
        


    }
</script>

</body>
</html>